*.iml
*.idea
.DS_Store
.tmp
.sass-cache
.vscode
.DS_Store*.prefs
*.class
*.jsdtscope
*.launch
~$*
node_modules
bower_components
dist
build
/target
/log
/logs
*.log
1
npm-debug.*
.bpmn
.ipr
.iws
.iml
.java-version
*.swp